[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-cors-headers = "==3.1.1"
djangorestframework = "==3.10.3"
python-dateutil = "==2.8.0"
python-dotenv = "==0.10.3"
django-oauth-toolkit = "==1.2.0"
mysqlclient = "==1.4.6"
django-enumfield = "==2.0.1"
Django = "==2.2.24"
Pillow = "==6.2.0"
oauth2_provider = "==0.0"

[requires]
python_version = "3.7"
